# Ignore all ...
/*

# ... but track specific files / folders: 

# General files
!.gitignore
!/README.md
!/LICENSE

# DDEV config and provider script
!/.ddev
/.ddev/*
!/.ddev/config.yaml
!/.ddev/providers
/.ddev/providers/*
!/.ddev/providers/ssh.yaml

# Child theme:
!/wp-content
/wp-content/*
!/wp-content/themes
/wp-content/themes/*
!/wp-content/themes/twentytwentyone-child

# ----------------------------------------------
# Special files for ddev-pull-wp-scripts repo
# (if you clone this repo, you can delete them if not needed)
!/README_ddev_pull_ssh.png
!/README_experimental.md

# track command to connect to ssh (experimental, needs more work)
!/.ddev/commands
/.ddev/commands/*
!/.ddev/commands/web
/.ddev/commands/web/*
!/.ddev/commands/web/ssh-remote

# For more info about this gitignore-pattern, see e.g.:
# https://stackoverflow.com/a/29012085/809939)