# Ignore all ... (relative from docroot, not via glob)
/*

# ... BUT track specific files and folders: 

# track general files
!/.gitignore
!/README.md
!/README_ddev_pull_ssh.png
!/LICENSE

# track some files and folders in DDEV
!/.ddev
/.ddev/*

# track DDEV config 
# - uncomment to enable (recommended):
# !/.ddev/config.yaml


# track DDEV config example
!/.ddev/example.config.yaml

# track DDEV providers scripts
!/.ddev/providers
/.ddev/providers/*
!/.ddev/providers/ssh.yaml
!/.ddev/providers/backup.yaml

# track WordPress child theme
!/wp-content
/wp-content/*
!/wp-content/themes
/wp-content/themes/*
!/wp-content/themes/twentytwentyone-child

# track command to connect to ssh
!/.ddev/commands
/.ddev/commands/*
!/.ddev/commands/web
/.ddev/commands/web/*
!/.ddev/commands/web/ssh-production
!/.ddev/commands/web/ssh-production-download-child-theme

# For more info about this gitignore-pattern, see e.g.:
# https://stackoverflow.com/a/29012085/809939)